<button (click)="inject()" [disabled]="gc.running">Inject</button>

<google-chart
  class="chart"
  [type]="gc.chart.type"
  [data]="gc.chart.data"
  [columns]="gc.chart.columns"
  [options]="gc.chart.options"
>
</google-chart>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Reten. Time<br />[sec]</th>
      <th>Area<br />[mV.s]</th>
      <th>Height<br />[mV]</th>
      <th>Area<br />[%]</th>
      <th>Height<br />[%]</th>
      <th>W05<br />[sec]</th>
      <th>Compound Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="gc.result">
      <td>1</td>
      <td class="right">
        {{ gc.result.retention_time | number }}
      </td>
      <td class="right">{{ gc.result.area | number }}</td>
      <td class="right">{{ gc.result.height | number }}</td>
      <td class="right">100.0</td>
      <td class="right">100.0</td>
      <td class="right">{{ gc.result.fwhm | number }}</td>
      <td></td>
    </tr>
    <tr *ngIf="!gc.result">
      <td colspan="8">No peaks</td>
    </tr>
    <tr>
      <td></td>
      <td>Total</td>
      <td class="right">{{ gc.result?.area | number }}</td>
      <td class="right">{{ gc.result?.height | number }}</td>
      <td class="right">{{ gc.result ? "100.0" : "" }}</td>
      <td class="right">{{ gc.result ? "100.0" : "" }}</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
