<section>
  <button (click)="inject()" [disabled]="state.gc.running">Inject</button>

  <google-chart
    class="chart"
    [type]="state.gc.chart.type"
    [data]="state.gc.chart.data"
    [columns]="state.gc.chart.columns"
    [options]="state.gc.chart.options"
  >
  </google-chart>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Reten. Time<br />[sec]</th>
        <th>Area<br />[mV.s]</th>
        <th>Height<br />[mV]</th>
        <th>Area<br />[%]</th>
        <th>Height<br />[%]</th>
        <th>W05<br />[sec]</th>
        <th>Compound Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="state.gc.result">
        <td>1</td>
        <td class="right">
          {{ state.gc.result.retention_time | number }}
        </td>
        <td class="right">{{ state.gc.result.area | number }}</td>
        <td class="right">{{ state.gc.result.height | number }}</td>
        <td class="right">100.0</td>
        <td class="right">100.0</td>
        <td class="right">{{ state.gc.result.fwhm | number }}</td>
        <td></td>
      </tr>
      <tr *ngIf="!state.gc.result">
        <td colspan="8">No peaks</td>
      </tr>
      <tr>
        <td></td>
        <td>Total</td>
        <td class="right">{{ state.gc.result?.area | number }}</td>
        <td class="right">{{ state.gc.result?.height | number }}</td>
        <td class="right">{{ state.gc.result ? "100.0" : "" }}</td>
        <td class="right">{{ state.gc.result ? "100.0" : "" }}</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</section>
