<h1>V-Lab</h1>

<section class="samples">
  <button
    class="sample"
    *ngFor="let sample of state.samples"
    [class.selected]="sample === state.selectedSample"
    (click)="state.selectSample(sample)"
  >
    <img src="assets/images/vial.png" />
    <div class="label">{{ sample.label }}</div>
  </button>
  <p *ngIf="state.selectedSample.supplied">
    <b>Label:</b> {{ state.selectedSample.label }}
  </p>
  <form>
    <input
      name="label"
      placeholder="Label"
      *ngIf="!state.selectedSample.supplied"
      [(ngModel)]="state.selectedSample.label"
    />
  </form>
</section>

<div class="actions">
  <button
    class="action"
    *ngFor="let action of state.actions"
    [class.selected]="action == state.selectedAction"
    (click)="state.selectAction(action)"
  >
    {{ action }}
  </button>
</div>

<app-gc
  [gc]="state.selectedSample.gc"
  *ngIf="state.selectedAction === 'Gas Chromatography'"
></app-gc>
<app-dilution *ngIf="state.selectedAction === 'Dilution'"></app-dilution>
