<h1>V-Lab</h1>

<div class="samples">
  <button
    class="sample"
    *ngFor="let sample of state.samples"
    [class.selected]="sample === state.selectedSample"
    (click)="state.selectSample(sample)"
  >
    <img src="assets/images/vial.png" />
    <span
      class="label"
      [contenteditable]="!sample.supplied"
      [(ngModel)]="sample.label"
    ></span>
  </button>
</div>
<section><b>Label:</b> {{ state.selectedSample.label }}</section>

<section class="actions">
  <button
    class="action"
    *ngFor="let action of state.actions"
    [class.selected]="action == state.selectedAction"
    (click)="state.selectAction(action)"
  >
    {{ action }}
  </button>
</section>

<app-gc
  [gc]="state.selectedSample.gc"
  *ngIf="state.selectedAction === 'Gas Chromatography'"
></app-gc>
<app-dilution *ngIf="state.selectedAction === 'Dilution'"></app-dilution>
