<h1>V-Lab</h1>

<section class="samples">
  <h2>Samples</h2>
  <button
    class="sample"
    *ngFor="let sample of state.samples"
    [class.selected]="sample === state.selectedSample"
    (click)="state.selectSample(sample)"
  >
    <img src="assets/images/vial.png" />
    <div class="label">Ethanol<br />{{ sample.percentage }}%</div>
  </button>
  <p class="details" *ngIf="state.selectedSample">
    <b>Chemical:</b> Ethanol<br />
    <b>Concentation:</b> {{ state.selectedSample.percentage }}%
  </p>
</section>

<div class="actions">
  <button
    class="action"
    *ngFor="let action of state.actions"
    [class.selected]="action == state.selectedAction"
    (click)="state.selectAction(action)"
  >
    {{ action }}
  </button>
</div>

<app-gc *ngIf="state.selectedAction === 'Gas Chromatography'"></app-gc>
