* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-image: url("assets/images/bg.png");
  background-repeat: repeat;
}

body {
  background-color: white;
  color: #333;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

section {
  margin: 0 15px 20px 15px;
}

button {
  color: inherit;
  font-size: inherit;
  padding: 0.2em 0.5em;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 100%;
}

table th,
table td {
  border: 1px solid #bbb;
  padding: 0.3em 0.5em;
}

table th {
  background-color: #ddd;
  font-weight: normal;
}

th.right,
td.right {
  text-align: right;
}

form {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  text-align: left;
}

input,
select {
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  font-size: inherit;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

form button {
  background-color: #4caf50;
  border-radius: 4px;
  border: none;
  color: white;
  margin: 8px 0;
  padding: 14px 20px;
  width: 100%;
}

form button[disabled] {
  background-color: #ca6666;
}

form button:not([disabled]):hover {
  background-color: #45a049;
  cursor: pointer;
}

footer {
  border-top: 1px solid #eee;
  margin: 0px 15px 20px 15px;
  padding: 10px;
}
